.custom-campaign-dialog .MuiPaper-root {
  width: 450px;
}

.custom-campaign-dialog h5 {
  font-size: 12px;
}

.select-phones-label {
  display: inline-block;
  width: calc(100% - 120px);
}

.select-all-wrapper {
  display: inline-block;
}
