.custom-sender-dialog .MuiPaper-root {
  width: 400px;
}

.custom-sender-dialog h5 {
  font-size: 12px;
}

.search-button {
  float: right;
  margin-top: 17px !important;
}

.area-code-input {
   width: 100%;
}

.area-code-input-loading {
  width: 100%;
}

div.area-code-wrapper {
   width: calc(100% - 100px);
   display: inline-block;
}

div.area-code-wrapper-loading {
   width: calc(100% - 55px);
   display: inline-block;
}

.custom-progress-phone-details {
  width: 30px !important;
  height: 30px !important;
}
