.custom-forgot-password-dialog .MuiPaper-root {
  width: 400px;
}

.custom-forgot-password-dialog h5 {
  font-size: 12px;
}

.custom-progress-forgot-password-details {
  width: 30px !important;
  height: 30px !important;
}
